.map-container {
    width: 100%;
    max-width: 100%;
    height: 800px;
}

.carouselItemImg {
    float: none;
    margin: 0 auto;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid grey;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    position: fixed;
    top: 40%;
    left: 45%;

}

.loader_text {
    margin: auto;
    position: fixed;
    top: 53%;
    left: 46.5%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.checkOut {
    float: right;
    position: relative;
}